<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset ="UTF-8">
    
    <title> The store </title> <!-- è quello che vediamo nella scheda in alto-->
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
    <body class="dark-mode">
        <header><!-- ciò che sta fisso-->
            <h1> Hello world! </h1>
            <p> This is a simple FastAPI app.</p>
        </header>
        <nav>
            <a href="/"> Home </a> <!-- serve per inserire il link --> 
            <a href="{{url_for('products')}}"> Products </a> <!-- non fa niente --> 
            <a href="{{url_for('add_product')}}">Add product</a><!-- tasto per aggiungere un nuovo prodotto con link associato ad un altra pagina --> 
        </nav>
        <div class="container"> <!-- la classe definirà la formattazione del nostro css --> 
            {% block content%} <!-- qui scriviamo tutte le info relative a jinja, content è il nome --> 

            {% endblock %}
        </div>
        <footer>
            <p> &copy; 2026 Porgrammazione Web UNICA</p> <!-- parte che sta fissa in basso nella pagine  --> 
        </footer>
    </body>
</html>