{% extends "base.html" %}

<!-- questo stabilisce la parte di programma che farà parte di base perchè
 base.html è il layout principale, e le altre pagine inseriscono solo alcune parti dentro di esso. -->
{% block content %}

<table>


    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Location</th>
    </tr>
    <!-- per ogni prodotto nella lista products_list:crea una riga della tabella e inserisci i dati del prodotto -->
    {% for p in products_list %}

    <tr>
        <td>{{ p.nome}}</td>
        <td>{{ p.price}}</td>
        <td>{{ p.location}}</td>
    </tr>


    {% endfor %}

</table>
{% endblock %}